*{
    box-sizing: border-box;
}
body {
    background-image: url(../img/Layer_57.png);
}
.wrapper{
    width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Pathway Gothic One;
}
.header{
    height: 234px;
    text-align: center;
    margin-top: 0px;
    background-image: body;
}
nav>ul{
    padding: 0px;
    margin: 0px;
}
nav>ul>li{
    display: inline-block;
    margin-left: 58px;
    font-size: 16pt;
    line-height: 234px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
}
nav>ul>li:hover{
    color: #263555;
}
.hide-menu::before{
    content: "";
    position: absolute;
    left: 24px;
    top: -4px;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
}
.hide-menu{
    display: none;
}
.drop-menu:hover .hide-menu{
    display: block;
    position: absolute;
    top: 140px;
    list-style-type: none;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    font-size: 14pt;
    line-height: initial;
}
.hide-menu a{
    color: #ced1d7;
    text-decoration: none;
}
.logo{
    position: relative;
    top: 0px;
    left: 34px;
    margin-left: 0px;
    width: 138px;
    height: 138px;
    background-color: white;
    border-radius: 90px;
    line-height: 140px;
    font-family: dorsa;
    font-size: 60px;
    color:black;
}
.main{
    background-color: white;
    text-align: center;
}
.slider{
    height: 658px;
    padding: 58px 60px 20px;
}
.sl-text-up{
    position: absolute;
    bottom: 145px;
color: #263555;
font-size: 22px;
font-family: Pathway Gothic One;
padding: 22px 16px 22px 14px;
background-color: white;

}
.sl-text-down{
    position: absolute;
    bottom: 75px;
    color: white;
    font-size: 34px;
    font-family: Pathway Gothic One;
    padding: 16px 12px 16px 14px;
    background-color: #38afe5;
}
.control{
    position: relative;
    bottom: 130px;
    left: 36px;
    height: 88px;
    width: 88px;
}
.cntrl-left{
    float: left;
    width: 44px;
    height: 88px;
    border-radius: 45px 0 0 45px;
    background-color: rgba(56, 175, 229, 1);
}
.cntrl-left::before{
    content: "\2190";
    color: white;
    position: relative;
    top: 35px;
    left: 5px;
}
.cntrl-left:hover{
    background-color: rgba(56, 175, 229, 0.5);
}
.cntrl-right{
    float: right;
    width: 44px;
    height: 88px;
    border-radius: 0px 45px 45px 0;
    background-color: rgba(56, 175, 229, 1);
}
.cntrl-right::before{
    content: "\2192";
    font-size: 14px;
    color: white;
    position: relative;
    top: 35px;
    right: 5px;
}
.cntrl-right:hover{
   background-color: rgba(56, 175, 229, 0.5);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.destinations{
    width: 902px;
    text-align: left;
    margin-left: 60px;
}
.cities{
    display: inline-block;
    margin:8px;
    }
.block{
    display: none;
    position: absolute;
    top: 1017px;
    height: 270px;
    width: 144px;
    background-color: #193149;
    color:white;
    font-size: 10px;
    padding: 10px 5px 10px 10px;
}
.block>h3{
    font-family: Pathway Gothic One;
    font-size: 26px;
    font-weight: 100;
    margin-top: 16px;
    margin-bottom: 24px;
}
.block>p{
    font-family: arial;
    font-size: 10px;
    text-align: justify;
    font-weight: 100;
    line-height: 1.5;
}
.block>form{
    font-size: 12px;
    margin-top: 24px;
    margin-left: 80px;
}
.cities:hover .block{
    display: block;
}
.options{
    display: inline-block;
    text-align: left;
}
.tours{
    width: 595px;
    height: 428px;
}
.folders{
    display: inline-block;
}
.subscribe{
    width: 287px;
    height: 428px;
}
.img{
    float: left;
}
#red-link{
    color: red;
    text-decoration: none;
}




.foot-1{
    height: 132px;
    background-color: #30455b;
    color: white;
}
.foot-1>div{
    display: inline-block;
    margin-left: 135px;
}
.foot-1>div>h3,h5{
    font-weight: 100;
}
.foot-1>div>h3{
    
}
.foot-1>div>h5{
    font-family: 
}
.foot-2{
    height: 135px;
    text-align: center;
    line-height: 35px;
    color: white;
}
.social{
    display: block;
    margin-top: 25px;
}

.social>a {
    margin-left: 15px;
}

.to-top{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #38afe5;
}
.to-top::before{
    content: "";
    width: 5px;
    height: 5px;
    border: 1 solid white;
}